#calendar {
    float: right;
    width: 900px;
}

.sticky_area{
    border: 1px dashed #888;
    background: #F7FAD2;
    resize: none;
}

/** Colorize the events */
.event-red{
    background: #C291B5;
}
.event-ind{
    background: #B1CBE6;
}
.event-bo{
    background: #00A352;
}
.event-bbv{
    background: #8A2EE6;
}
.event-pvpp{
    background: #86FFFF;
}
.event-free{
    background: #A6ACF1;
}
