html {
  position: relative;
  min-height: 100%;
}
body {
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#calendar {
    float: right;
    width: 900px;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sticky_area{
     border: 1px dashed #888;
    background: #F7FAD2;
}

/** Colorize the events */
.event-red{
    background: #C291B5;
}
.event-ind{
    background: #B1CBE6;
}
.event-bo{
    background: #00A352;
}
.event-bbv{
    background: #8A2EE6;
}
.event-pvpp{
    background: #86FFFF;
}
.event-free{
    background: #A6ACF1;
}
